.container-fluid{
    padding-left: 5%;
    padding-right: 5%;
}

body.vertical-layout.vertical-menu-modern .horizontal-menu-wrapper {
    display: none;
}

.horizontal-menu > .main-menu {
    display: none;
}
.horizontal-menu .fixed-top {
    left: 0;
}

html body.navbar-static .app-content .header-navbar {
    background: transparent;
    box-shadow: none !important;
}

@media (max-width: 575.98px) {
    body.vertical-layout:not(.horizontal-layout).navbar-floating .header-navbar {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    html body .app-content{
        padding: calc(2rem - 0.8rem + 4.45rem + 1.3rem) 0 0 0 !important;
    }
}

.navbar-brand.nav-dark .brand-text{
    color: #fff;
}

.navbar-header{
    z-index: 1;
}

.navbar-container .search-input.open{
    width: 99%;
}

.navbar-container .search-input input{
    padding: 1.3rem 3.6rem;
}

.navbar-container .search-input{
    margin-top: 5px;
}

.navbar-container .search-input .search-input-close{
    right: 1rem;
}

.main-menu .navbar-header .navbar-brand .brand-logo img{
    max-width: 100%;
}

.footer.footer-dark{
    background-color: var(--primary);
}

.footer.footer-dark p, .footer.footer-dark a{
    color: var(--white);
}

.navbar-home {
    position: fixed;
    padding: 0 5%;
}

.home-hero{
    height: 500px;
    margin: -6.45rem -2rem 0 -2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}

@media (max-width: 575.98px) {
    .home-hero{
        margin: -100px 0 0 0;
        height: auto;
    }
}

.buddies-hero{
    height: 300px;
    min-height: 300px;
    margin: -6.45rem -2rem 0 -2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}

@media (max-width: 575.98px) {
    .buddies-hero{
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }
}

.home-activities{
    margin-top: -70px;
}

.home-activities .item-activity{
    width: 20%;
    padding: 0 1em;
}


@media (min-width: 992px) {

}

@media (max-width: 768px) {
    .home-activities .item-activity{
        width: 33.3%;
        padding: 0 1em;
    }
}


@media (max-width: 575.98px) {
    .home-activities{
        margin-top: 30px;
    }

    .home-activities .item-activity{
        width: 50%;
        padding: 0 1em;
    }
}

.home-activities .item-activity .item-image{
    height: 140px;
    width: 140px;
    padding: 20px;
    border-radius: 100%;
    background-color: var(--white);
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.home-activities .item-activity .item-image img{
    height: 100px;
    width: 100px;
}

.home-activities .item-activity .item-detail .title{
}

.home-activities .item-activity .item-detail .desc{
}

.home-about-us .item-about .item-image{
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius: 100%;
    background-color: var(--primary);
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.home-about-us .item-about .item-image img{
    height: 60px;
    width: 60px;
}

.home-deal .item-banner{
    border-radius: 20px;
}

.home-deal .item-banner.item-banner-1{ 
    height: 400px;
}

.home-deal .item-banner.item-banner-1 .img {
    height: 100%;
    border-radius: 20px;
}

.home-deal .item-banner.item-banner-2{ 
    height: 220px;
    margin-bottom: 30px;
}

.home-deal .item-banner.item-banner-3{ 
    height: 150px;
}

.home-deal .item-banner.item-banner-2 .img, .home-deal .item-banner.item-banner-3 .img{
    height: 100%;
    border-radius: 20px;
}

.buddies-list{
    margin-top: 100px;
}

/* @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
} */

/* .carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
} */

/* medium and up screens */
/* @media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(50%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-50%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
} */

/* .home-deal .carousel-deal .card{
    height: 450px;
}

.home-deal .card-promo-static{
    height: 150px;
}

.home-deal .card-buddy-week{
    height: 270px;
}

.home-deal .card-buddy-week .btn{
    width: auto !important;
    height: auto !important;
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: var(--primary);
} */

.home-buddy{
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 4rem 2rem;
    background-image: url(../images/banners/hero-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .home-buddy .slick-track {
    float: left;
} */

.home-buddy .slick-dots {
    bottom: -10px;
}

.home-buddy .slick-dots li button:before, .home-buddy .slick-dots li.slick-active button:before{
    color: var(--white);
}

/* @media (max-width: 1199.98px){
    .home-buddy > .item-buddy{
        width: 25%;
    }
}

@media (max-width: 767.98px){
    .home-buddy .item-buddy{
        width: 33.3%;
    }
} */

@media (max-width: 575.98px) {
    .home-buddy{
        margin-left: 0;
        margin-right: 0;
    }

    /* .home-buddy .item-buddy{
        width: 100%;
    } */
}

.item-buddy.item-list .img{
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item-buddy.item-list .item-content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
}

.card-buddy .btn-wishlist{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.card-buddy .btn-wishlist svg{
    height: 1.5rem;
    width: 1.5rem;
}

.card-buddy .btn-wishlist.active svg{
    fill: var(--primary);
}

.home-call-to-action{
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 4rem 2rem;
    background-image: url(../images/banners/hero-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 575.98px) {
    .home-call-to-action{
        margin-left: 0;
        margin-right: 0;
    }
}

.home-connect .nav-socmed .feather{
    height: 2rem;
    width: 2rem;
}

.card-search-buddy{
    margin-top: 50px;
}

@media (max-width: 575.98px) {
    .home-testimonial .slick-dots{
        left: 0;
    }
}

.card-search-buddy .input-date{
    background-color: var(--white);
}

.feather-20{
    height: 20px;
    width: 20px;
}

.feather-25{
    height: 25px;
    width: 25px;
}

.feather-30{
    height: 30px;
    width: 30px;
}

.feather-35{
    height: 35px;
    width: 35px;
}

.feather-40{
    height: 40px;
    width: 40px;
}

.feather-45{
    height: 45px;
    width: 45px;
}

.feather-50{
    height: 50px;
    width: 50px;
}

.list-review svg.text-warning{
    fill: var(--warning);
}

.chat-application .chat-app-window .start-chat-area, .chat-application .chat-app-window .user-chats{
    background-image: none;
}

.chat-app-window .chats .chat-body .chat-content{
    background-image: none;
    background-color: #c0e6fe !important;
    color: #6e6b7b !important;
    box-shadow: none;
}

.chat-app-window .chats .chat-left .chat-body .chat-content{
    background-color: #FFF !important;
}

.list-schedules .list-group-item:hover{
    background-color: #fff;
}

.buddy-profile{
    margin-top: -100px;
}

.buddy-profile .row-up{
    margin-top: -150px;
}

.buddy-profile .card .card{
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%) !important;
}

.flatpickr, .flatpickr-range{
    background-color: #fff !important;
}

.dropzone .dz-message:before{
    content: none;
}

.input-days input[type="checkbox"] {
    display: none;
}

.input-days span {
    display: inline-block;
    border: 1px solid var(--primary);
    border-radius: 1.5rem;
    color: var(--primary);
    background-color: transparent;
    box-shadow: none;
    font-weight: 500;
    padding: 0.786rem 1.5rem;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    opacity: 0.65;
}

.input-days input[type="checkbox"]:checked + span {
    background-color: var(--primary);
    color: var(--white);
    opacity: 1;
}

.setting-galleries .item-gallery{
    height: 0;
    border-radius: 10px;
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.setting-galleries .btn-delete-gallery{
    position: absolute;
    top: -10px;
    right: 3px;
}

.setting-galleries .item-gallery.btn-add-image-gallery svg{
    height: 50px;
    width: 50px;
    color: #c5c5c5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.dzProfile .dz-preview, .dzGallery .dz-preview{
    display: none;
}

.galleries .item-gallery{
    height: 0;
    border-radius: 10px;
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.booking-hero{
    height: 300px;
    margin: -6.45rem -2rem 0 -2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}

.booking-hero .title{
    margin-top: 100px;
}

@media (max-width: 575.98px) {
    .booking-hero{
        height: auto;
        margin: -100 0 0 0;
    }
}

.booking-detail .card-booking{
    margin-top: -50px;
}

.booking-detail .service-profile{
    margin-top: -100px;
}

.booking-detail .service-profile .title{
    margin-top: 110px;
}

.booking-detail .flatpickr-time, .booking-detail .input-date{
    background-color: var(--white);
}

.booking-detail .input-group-number .btn-minus{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.booking-detail .input-group-number .btn-plus{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.flatpickr-time .numInputWrapper:nth-child(3) .arrowUp, .flatpickr-time .numInputWrapper:nth-child(3) .arrowDown{
    display: none;
} 

.flatpickr-time .numInputWrapper:nth-child(3) .flatpickr-minute{
    pointer-events: none !important;
    cursor: not-allowed;
} 

.checkout-hero{
    height: 300px;
    margin: -6.45rem -2rem 0 -2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
}

.checkout-hero .title{
    margin-top: 100px;
}

.checkout-detail .card-checkout{
    margin-top: -75px;
}

#map .centerMarker{
    position:absolute;
    /*url of the marker*/
    background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
    /*center the marker*/
    top:50%;left:50%;
    z-index:1;
    /*fix offset when needed*/
    margin-left:-10px;
    margin-top:-34px;
    /*size of the image*/
    height:34px;
    width:20px;
    cursor:pointer;
  }

.input-group-price .input-group-text{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.service-detail .input-group-number .btn-minus{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.service-detail .input-group-number .btn-plus{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.chat-app-window .chats .chat-body {
    margin: 10px 10px 0 0;
}

.chat-app-window .chats .chat-body .chat-content {
    margin-right: 0;
}

.chat-application .sidebar-content .chat-user-list-wrapper li.active{
    background: #c0e6fe;
}

.chat-application .sidebar-content .chat-user-list-wrapper li.active .chat-info h5, .chat-application .sidebar-content .chat-user-list-wrapper li.active .chat-info .card-text, .chat-application .sidebar-content .chat-user-list-wrapper li.active .chat-meta .chat-time{
    color: #5e5873;
}


@media (max-width: 575.98px) {
    .auth-wrapper .auth-bg{
        background: none;
    }

    .auth-wrapper .auth-inner .brand-logo {
        width: 100%;
        left: 0;
        top: 3rem;
    }

    .auth-wrapper .auth-inner .brand-logo img{
        height: 50px;
    }

    .auth-wrapper .auth-inner .card-form {
        background-color: var(--white);
        box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
        border-radius: 10px;
        padding: 30px 20px;
    }

    .auth-wrapper .auth-inner .card-form.register-from{
        margin-top: 10rem;
        margin-bottom: 2rem;
    }

    .auth-wrapper .auth-inner .card-form .card-title, .auth-wrapper .auth-inner .card-form .card-text{
        text-align: center;
    }
}
